<div mat-dialog-title class="bg-gray-700 text-white">
  Add New
</div>
<div mat-dialog-content>
  <form name="currentForm" [formGroup]="currentForm" class="mt-5">
    <div fxLayout="columun" fxLayout.gt-xs="row" fxLayoutAlign="start start" fxLayoutGap="2%">
      <mat-form-field fxFlex="49%">
        <mat-label>Header Title</mat-label>
        <input matInput type="text" placeholder="Header Title" formControlName="headerTitle" required />
        <mat-hint matSuffix fxLayoutAlign="end center"> <mat-icon
            matTooltip="Write a Header">help_outline</mat-icon></mat-hint>
      </mat-form-field>
      <mat-form-field fxFlex="49%">
        <mat-label>Choose Type</mat-label>
        <mat-select #selection placeholder="Choose Type" formControlName="type" required (openedChange)="openedChange()"
          (opened)="opened()" (closed)="closed()" (selectionChange)="onChanged($event)">
          <mat-option *ngFor="let item of typeList" [value]="item.id">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="columun" fxLayout.gt-xs="row" fxLayoutAlign="start start" fxLayoutGap="2%">
      <mat-form-field fxFlex="49%">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" readonly required>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

      </mat-form-field>
      <mat-checkbox class="example-margin" formControlName="checkbox" color="primary" required>is it
        Okay?
      </mat-checkbox>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button class="mat-primary mt-16 mt-sm-0" [mat-dialog-close]="true" (click)="sendDataToDatabase()"
    [disabled]="currentForm.invalid || currentForm.pristine" appEnterKey (enterPressed)="sendDataToDatabase()">
    Save Data
  </button>
  <!--! you can do with keyup for without click save just use enter on your keyboard but also you can click it just added enter functionality  -->
  <!-- <button mat-button class="mat-primary mt-16 mt-sm-0" [mat-dialog-close]="true" (click)="sendDataToDatabase()"
    [disabled]="currentForm.invalid || currentForm.pristine" (keyup.enter)="sendDataToDatabase()">
    Save Data
  </button> -->
</div>
